aiohttp==3.9.5 ; python_full_version == "3.12.3"
aiosignal==1.3.1 ; python_full_version == "3.12.3"
alembic==1.13.1 ; python_full_version == "3.12.3"
annotated-types==0.7.0 ; python_full_version == "3.12.3"
anyio==4.4.0 ; python_full_version == "3.12.3"
appdirs==1.4.4 ; python_full_version == "3.12.3"
asgiref==3.8.1 ; python_full_version == "3.12.3"
attrs==23.2.0 ; python_full_version == "3.12.3"
backoff==2.2.1 ; python_full_version == "3.12.3"
bcrypt==4.1.3 ; python_full_version == "3.12.3"
beautifulsoup4==4.12.3 ; python_full_version == "3.12.3"
brotli==1.1.0 ; implementation_name == "cpython" and python_full_version == "3.12.3"
brotlicffi==1.1.0.0 ; implementation_name != "cpython" and python_full_version == "3.12.3"
build==1.2.1 ; python_full_version == "3.12.3"
cachetools==5.3.3 ; python_full_version == "3.12.3"
certifi==2024.6.2 ; python_full_version == "3.12.3"
cffi==1.16.0 ; python_full_version == "3.12.3"
charset-normalizer==3.3.2 ; python_full_version == "3.12.3"
chroma-hnswlib==0.7.3 ; python_full_version == "3.12.3"
chromadb==0.4.24 ; python_full_version == "3.12.3"
click==8.1.7 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3" and (platform_system == "Windows" or sys_platform == "win32" or os_name == "nt")
coloredlogs==15.0.1 ; python_full_version == "3.12.3"
crewai-tools==0.2.6 ; python_full_version == "3.12.3"
crewai[tools]==0.30.11 ; python_full_version == "3.12.3"
cryptography==42.0.8 ; python_full_version == "3.12.3"
dataclasses-json==0.6.7 ; python_full_version == "3.12.3"
decorator==5.1.1 ; python_full_version == "3.12.3"
deprecated==1.2.14 ; python_full_version == "3.12.3"
deprecation==2.1.0 ; python_full_version == "3.12.3"
distro==1.9.0 ; python_full_version == "3.12.3"
docstring-parser==0.15 ; python_full_version == "3.12.3"
docx2txt==0.8 ; python_full_version == "3.12.3"
embedchain==0.1.102 ; python_full_version == "3.12.3"
embedchain[github,youtube]==0.1.102 ; python_full_version == "3.12.3"
fastapi==0.110.3 ; python_full_version == "3.12.3"
filelock==3.14.0 ; python_full_version == "3.12.3"
flatbuffers==24.3.25 ; python_full_version == "3.12.3"
frozenlist==1.4.1 ; python_full_version == "3.12.3"
fsspec==2024.6.0 ; python_full_version == "3.12.3"
gitdb==4.0.11 ; python_full_version == "3.12.3"
gitpython==3.1.43 ; python_full_version == "3.12.3"
google-api-core==2.19.0 ; python_full_version == "3.12.3"
google-api-core[grpc]==2.19.0 ; python_full_version == "3.12.3"
google-auth==2.30.0 ; python_full_version == "3.12.3"
google-cloud-aiplatform==1.54.1 ; python_full_version == "3.12.3"
google-cloud-bigquery==3.24.0 ; python_full_version == "3.12.3"
google-cloud-core==2.4.1 ; python_full_version == "3.12.3"
google-cloud-resource-manager==1.12.3 ; python_full_version == "3.12.3"
google-cloud-storage==2.16.0 ; python_full_version == "3.12.3"
google-crc32c==1.5.0 ; python_full_version == "3.12.3"
google-resumable-media==2.7.0 ; python_full_version == "3.12.3"
googleapis-common-protos==1.63.1 ; python_full_version == "3.12.3"
googleapis-common-protos[grpc]==1.63.1 ; python_full_version == "3.12.3"
gptcache==0.1.43 ; python_full_version == "3.12.3"
greenlet==3.0.3 ; (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_full_version == "3.12.3"
grpc-google-iam-v1==0.13.0 ; python_full_version == "3.12.3"
grpcio-status==1.62.2 ; python_full_version == "3.12.3"
grpcio==1.64.1 ; python_full_version == "3.12.3"
h11==0.14.0 ; python_full_version == "3.12.3"
httpcore==1.0.5 ; python_full_version == "3.12.3"
httptools==0.6.1 ; python_full_version == "3.12.3"
httpx==0.27.0 ; python_full_version == "3.12.3"
huggingface-hub==0.23.3 ; python_full_version == "3.12.3"
humanfriendly==10.0 ; python_full_version == "3.12.3"
idna==3.7 ; python_full_version == "3.12.3"
importlib-metadata==7.1.0 ; python_full_version == "3.12.3"
importlib-resources==6.4.0 ; python_full_version == "3.12.3"
iniconfig==2.0.0 ; python_full_version == "3.12.3"
instructor==0.5.2 ; python_full_version == "3.12.3"
jsonpatch==1.33 ; python_full_version == "3.12.3"
jsonpointer==2.4 ; python_full_version == "3.12.3"
kubernetes==30.1.0 ; python_full_version == "3.12.3"
lancedb==0.5.7 ; python_full_version == "3.12.3"
langchain-community==0.0.38 ; python_full_version == "3.12.3"
langchain-core==0.1.52 ; python_full_version == "3.12.3"
langchain-openai==0.0.5 ; python_full_version == "3.12.3"
langchain-text-splitters==0.0.2 ; python_full_version == "3.12.3"
langchain==0.1.20 ; python_full_version == "3.12.3"
langsmith==0.1.75 ; python_full_version == "3.12.3"
mako==1.3.5 ; python_full_version == "3.12.3"
markdown-it-py==3.0.0 ; python_full_version == "3.12.3"
markupsafe==2.1.5 ; python_full_version == "3.12.3"
marshmallow==3.21.3 ; python_full_version == "3.12.3"
mdurl==0.1.2 ; python_full_version == "3.12.3"
mmh3==4.1.0 ; python_full_version == "3.12.3"
monotonic==1.6 ; python_full_version == "3.12.3"
mpmath==1.3.0 ; python_full_version == "3.12.3"
multidict==6.0.5 ; python_full_version == "3.12.3"
mutagen==1.47.0 ; python_full_version == "3.12.3"
mypy-extensions==1.0.0 ; python_full_version == "3.12.3"
nodeenv==1.9.1 ; python_full_version == "3.12.3"
numpy==1.26.4 ; python_full_version == "3.12.3"
oauthlib==3.2.2 ; python_full_version == "3.12.3"
onnxruntime==1.18.0 ; python_full_version == "3.12.3"
openai==1.33.0 ; python_full_version == "3.12.3"
opentelemetry-api==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-common==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-grpc==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-http==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-asgi==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-fastapi==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-proto==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-sdk==1.25.0 ; python_full_version == "3.12.3"
opentelemetry-semantic-conventions==0.46b0 ; python_full_version == "3.12.3"
opentelemetry-util-http==0.46b0 ; python_full_version == "3.12.3"
orjson==3.10.3 ; python_full_version == "3.12.3"
outcome==1.3.0.post0 ; python_full_version == "3.12.3"
overrides==7.7.0 ; python_full_version == "3.12.3"
packaging==23.2 ; python_full_version == "3.12.3"
pillow==10.3.0 ; python_full_version == "3.12.3"
pluggy==1.5.0 ; python_full_version == "3.12.3"
posthog==3.5.0 ; python_full_version == "3.12.3"
proto-plus==1.23.0 ; python_full_version == "3.12.3"
protobuf==4.25.3 ; python_full_version == "3.12.3"
pulsar-client==3.5.0 ; python_full_version == "3.12.3"
py==1.11.0 ; python_full_version == "3.12.3"
pyarrow==16.1.0 ; python_full_version == "3.12.3"
pyasn1-modules==0.4.0 ; python_full_version == "3.12.3"
pyasn1==0.6.0 ; python_full_version == "3.12.3"
pycparser==2.22 ; python_full_version == "3.12.3"
pycryptodomex==3.20.0 ; python_full_version == "3.12.3"
pydantic-core==2.18.4 ; python_full_version == "3.12.3"
pydantic==2.7.3 ; python_full_version == "3.12.3"
pygithub==1.59.1 ; python_full_version == "3.12.3"
pygments==2.18.0 ; python_full_version == "3.12.3"
pyjwt[crypto]==2.8.0 ; python_full_version == "3.12.3"
pylance==0.9.18 ; python_full_version == "3.12.3"
pynacl==1.5.0 ; python_full_version == "3.12.3"
pypdf==3.17.4 ; python_full_version == "3.12.3"
pyperclip==1.8.2 ; python_full_version == "3.12.3"
pypika==0.48.9 ; python_full_version == "3.12.3"
pyproject-hooks==1.1.0 ; python_full_version == "3.12.3"
pyreadline3==3.4.1 ; sys_platform == "win32" and python_full_version == "3.12.3"
pyright==1.1.366 ; python_full_version == "3.12.3"
pysbd==0.3.4 ; python_full_version == "3.12.3"
pysocks==1.7.1 ; python_full_version == "3.12.3"
pytest==8.2.2 ; python_full_version == "3.12.3"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.3"
python-dotenv==1.0.1 ; python_full_version == "3.12.3"
pytube==15.0.0 ; python_full_version == "3.12.3"
pyyaml==6.0.1 ; python_full_version == "3.12.3"
ratelimiter==1.2.0.post0 ; python_full_version == "3.12.3"
regex==2023.12.25 ; python_full_version == "3.12.3"
requests-oauthlib==2.0.0 ; python_full_version == "3.12.3"
requests==2.32.3 ; python_full_version == "3.12.3"
retry==0.9.2 ; python_full_version == "3.12.3"
rich==13.7.1 ; python_full_version == "3.12.3"
rsa==4.9 ; python_full_version == "3.12.3"
schema==0.7.7 ; python_full_version == "3.12.3"
selenium==4.21.0 ; python_full_version == "3.12.3"
semver==3.0.2 ; python_full_version == "3.12.3"
setuptools==70.0.0 ; python_full_version == "3.12.3"
shapely==2.0.4 ; python_full_version == "3.12.3"
six==1.16.0 ; python_full_version == "3.12.3"
smmap==5.0.1 ; python_full_version == "3.12.3"
sniffio==1.3.1 ; python_full_version == "3.12.3"
sortedcontainers==2.4.0 ; python_full_version == "3.12.3"
soupsieve==2.5 ; python_full_version == "3.12.3"
sqlalchemy==2.0.30 ; python_full_version == "3.12.3"
starlette==0.37.2 ; python_full_version == "3.12.3"
sympy==1.12.1 ; python_full_version == "3.12.3"
tenacity==8.3.0 ; python_full_version == "3.12.3"
tiktoken==0.5.2 ; python_full_version == "3.12.3"
tokenizers==0.19.1 ; python_full_version == "3.12.3"
tqdm==4.66.4 ; python_full_version == "3.12.3"
trio-websocket==0.11.1 ; python_full_version == "3.12.3"
trio==0.25.1 ; python_full_version == "3.12.3"
typer==0.9.4 ; python_full_version == "3.12.3"
typing-extensions==4.12.2 ; python_full_version == "3.12.3"
typing-inspect==0.9.0 ; python_full_version == "3.12.3"
urllib3==2.2.1 ; python_full_version == "3.12.3"
urllib3[socks]==2.2.1 ; python_full_version == "3.12.3"
uvicorn[standard]==0.30.1 ; python_full_version == "3.12.3"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_full_version == "3.12.3"
watchfiles==0.22.0 ; python_full_version == "3.12.3"
webdriver-manager==4.0.1 ; python_full_version == "3.12.3"
websocket-client==1.8.0 ; python_full_version == "3.12.3"
websockets==12.0 ; python_full_version == "3.12.3"
wrapt==1.16.0 ; python_full_version == "3.12.3"
wsproto==1.2.0 ; python_full_version == "3.12.3"
yarl==1.9.4 ; python_full_version == "3.12.3"
youtube-transcript-api==0.6.2 ; python_full_version == "3.12.3"
yt-dlp==2023.12.30 ; python_full_version == "3.12.3"
zipp==3.19.2 ; python_full_version == "3.12.3"
